<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
  <test thread-count="5" name="Smoke Test">
    <classes>
      <class name="testNGPrograms.TestCase1"/>
      <class name="testNGPrograms.TestCase2"/>
      <class name="testNGPrograms.TestCase3"/>
    </classes>
  </test> <!-- Smoke Test -->
</suite> <!-- Smoke Suite -->
